/* ==========================================
   GLOBAL CSS (Reset & Fonts)
========================================== */
@font-face {
  font-family: 'PoppinsVH';
  src: url('/lego_shop_php/public/assets/font/FzPoppins/FZ-Poppins-Regular.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'PoppinsVH';
  src: url('/lego_shop_php/public/assets/font/FzPoppins/FZ-Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'PoppinsVH', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}